.icon-bar {
  height: 240px;
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  height: 120px;
  width: 120px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.icon.active {
  opacity: 1;
}
