.screen {
  position: relative;
  width: 544px;
  height: 544px;
}

.icon-bar {
  height: 136px;
  width: 544px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  height: 68px;
  width: 68px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
}

.icon.active {
  opacity: 1;
}

.grid-overlay {
  position: absolute;
  width: 544px;
  height: 272px;
  top: 136px;
  bottom: 136px;
  left: 0;
  right: 0;
}
